# Dependencies
node_modules/

# Firebase secrets
serviceAccountKey.json

# Environment variables
.env

# Node
node_modules/
# Ignore Python virtual environment
venv/
*.pyc
__pycache__/

# Environment files
.env
# Python
venv/
*.pyc
__pycache__/

# Node
node_modules/

# Optional: OS files
.DS_Store
Thumbs.db


# Firebase
serviceAccountKey.json
firebase-debug.log

# OS
.DS_Store
